/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: #000000;
	color: #ffffff !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover {
	text-decoration: none;
	color: #474747;
}

nav {
	border-bottom: 1px solid #292929;
	border-color: #292929 !important;
	background-color: #1b1b1b !important;

	.navbar-brand {
		a {
			
			font-size: 32px;
			font-weight: bold;
			color: white;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}

		span {
			text-transform: uppercase;
			font-size: 32px;
			font-weight: bold;
			color: black;
			background-color: #ffac31;
			border: 5px solid #ffac31;
			border-radius: 10px;
		}
	}

	.navbar-nav li a {
		color: white !important;

		&:hover {
			color: #f39902 !important;

		}
	}

	
}

#pins {
  margin: 0 auto;
  width: 100%;
  .box {
  	  background-color: #222 !important;
	  margin: 10px;
	  width: 350px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 22px;
	  	font-weight: 700;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {

				color: #f39902;

				&:hover {
					text-decoration: underline;
				}
	  	}
	  }
	  .user {
	  	font-size: 12px;
	  	border-top: 1px solid #000000;
			padding: 15px;
			margin: 0;
	  }
	}
}

#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
}

#pin_show {
	.panel-heading {
		padding: 0;
	}
	.pin_image {
		img {
			max-width: 100%;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		h1 {
			margin: 0 0 10px 0;
		}
		.description {
			color: #868686;
			line-height: 1.75;
			margin: 0;
		}
	}
	.panel-footer {
		padding: 20px 35px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}
}

textarea {
	min-height: 250px;
}